body {
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
margin: 0;
background-color: rbg(161,100,223);
}

.btn {
    background-color: rebeccapurple;
    font-size: 1.2rem;
    color: white;
    height: 10vh;
    width: 10vw;
    border-radius: 50px;
    cursor: pointer;
}
