body {
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
margin: 0;
background-color: blueviolet;
}

.btn {
    height: 10vh;
    width: 10vw;
    border-radius: 50px;
    cursor: pointer;
}