body {
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
margin: 0;
background-color: blueviolet;
}

.buttons {
    height: 10vh;
    width: 25vw;
    display: flex;
    border-radius: 50px;
}